<div id="container" ng-controller="PlaylistCtrl">
      <div class="playlist">
        <h1>Playlist</h1>
        <nav>
          <button class="control play" ng-click="player.play()" ng-hide="player.playing">Play</button>
          <button class="control pause" ng-click="player.pause()" ng-show="player.playing">Pause</button>
          <button class="control prev" ng-click="player.previous()">Prev</button>
          <button class="control next" ng-click="player.next()">Next</button>
        </nav>
        <ul class="albums">
          <li class="album" ng-repeat="album in player.playlist"
              ng-class="{current: player.current.album == $index}">
            <button class="queue remove" ng-click="player.playlist.remove(album)"></button>
            <span class="album-title">{{album.title}}</span>
            <span class="artist-name">{{album.artist}}</span>
            <ol class="tracks">
              <li ng-repeat="track in album.tracks" class="track"
                  ng-class="{current: player.current.track == $index}"
                  ng-click="player.play($index, $parent.$index)">{{track.title}}</li>
            </ol>
          </li>
        </ul>
      </div>
      <section class="library">
        <h1>Music Library</h1>
        <div ng-switch on="albums.length">
        <span ng-switch-when="0">
          No items, please drop some!
        </span>
        <span ng-switch-default>
          <ul class="albums thumbnails">
            <li class="album current span3" ng-repeat="album in albums">
              <a href="#" class="thumbnail" ng-click="player.playlist.add(album)">
                <img src="{{album.albumart}}" alt="{{album.artist}} - {{album.title}}">
              </a>
            </li>
          </ul>
        </span>
      </section>
    </div>
</div>
